<!-- Extending the parent template -->
{% extends '_global/bootstrap_basic_template_layout.html' %}


<!-- Head section. Added at the end of head tag of the parent. Usually link to another css, js, ... or metas    -->
{% block head %}

{% endblock %}


<!-- Content of the page -->
{% block content %}
<div class="container-fluid">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h1 class="text-upper">Pdf to Text <small>convert pdf to text format</small></h1>
			</div>
		</div>
	</div>
	<br>
	<div class="container">
		<div class="row">
			<div class="col-md-3">
				<form action="{% url 'home' %}" method="POST" enctype="multipart/form-data">
					{% csrf_token %}
					<div class="form-group">
						<label>Select file</label>
    					<input type="file" class="form-control input-sm" name="pdf-file" required>
					</div>
					<div class="form-group">
						<label>Type keywords with space separator</label>
    					<textarea class="form-control" name="key-words" required></textarea>
					</div>
					<div class="form-group">
						<input type="submit" class="form-control btn btn-success" value="SUBMIT">
					</div>
				</form>
			</div>	
		</div>
	</div>
	<br>
	{% if is_converted %}
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<h3 class="text-upper">Result <small>keyword count</small></h3>
			</div>
		</div>
		<div class="row">
			{% for key,value in keywords.items %}
			<div class="col-md-12">
				{{key}} : {{ value }}
			</div>			
			{% endfor %}			
		</div>
		<div class="row">
			<div class="col-md-12">
				<h3 class="text-upper">Result <small>converted text</small></h3>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				{{pdf_to_text}}
			</div>
		</div>
	</div>
	{% endif %}
</div>
{% endblock %}


<!-- Foot section. Added at the end of body tag of the parent. Usually on-page javascripts, js links ... -->
{% block foot %}

{% endblock %}